/*  default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

/* ===== Navbar Styles ===== */
header {
  width: 100%;
  background: #ffdee9;
  background: linear-gradient(90deg, #ffdee9 0%, #b5fffc 100%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff4da6;
}

/* ===== Menu Toggle  ===== */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background: #333;
  margin: 4px 0;
  transition: all 0.3s ease;
}

/* ===== Responsive Navbar ===== */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}

/* ===== Hero Section ===== */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
  color: #fff;
  padding: 0 20px;
}


.hero-content h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.hero-content h1 span {
  color: #ff4da6;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  background-color: #1e90ff; 
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #63b3ed; 
}
